

*{
    font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Amatic SC", sans-serif;
}


:root {
    --bianco_principale: rgb(250, 245, 235);
    --sfondo_principale: rgb(243, 233, 220);
    --testo_principale: rgb(59, 47, 47);
    --accento_1: rgb(216, 124, 71);
    --accento_2: rgb(163, 177, 138);
    --colore_secondario: rgb(107, 107, 107);

}

.bianco{
    background-color: var(--bianco_principale);
}

.beige{
    background-color: var(--sfondo_principale);
}

body{
    background-color: var(--sfondo_principale);
    /* padding: 0;
    margin: 0; */
}

/* titolo */
.box_1{
    height: 140px;
}

.titolo{
    color:var(--testo_principale);
    font-size:60px;
}

.slogan{
    color:var(--testo_principale);
    font-style: italic;
}

/* nav */

.nav-link{
    color:var(--testo_principale);
    font-size:15px;
    font-style:normal;  
}

.nav-link:hover{
    color:var(--accento_1);
    transform:scale(1.1);
    transition:0.5s;

}

.nav-item-center{
    margin-left: 100px;
    margin-right: 100px;
}




.box_2{
    height: 8px;
    background-color: var(--colore_secondario);
}


/* header */
.box_3{
    width: 5000px;
    background-image: url(/media/header.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}



.box_4{
    background-color: rgba(250, 245, 235 , 0.75 );
    height: 200px;
    width: 500px;
    margin: 1px black solid;
}



@media (max-width: 600px) {
  
.nav-item-center {
    margin-left:0px;
  }

  .box_3{
    background-position:top;
  }

  .box_4_b{
    height: 200px;
}

  .box_4{
    height: 80px;
    width: 200px;
  }
}