

*{
    font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Amatic SC", sans-serif;
}


:root {
    --bianco_principale: rgb(250, 245, 235);
    --sfondo_principale: rgb(243, 233, 220);
    --testo_principale: rgb(59, 47, 47);
    --accento_1: rgb(216, 124, 71);
    --accento_2: rgb(163, 177, 138);
    --colore_secondario: rgb(107, 107, 107);

}

.bianco{
    background-color: var(--bianco_principale);
}

.beige{
    background-color: var(--sfondo_principale);
}



/* titolo */
.box_1{
    height: 140px;
}

.titolo{
    color:var(--testo_principale);
    font-size:60px;
}

.slogan{
    color:var(--testo_principale);
    font-style: italic;
}

/* nav */

.nav-link{
    color:var(--testo_principale);
    font-size:15px;
    font-style: italic;

    
}

.nav-item-center{
    margin-left: 100px;
    margin-right: 100px;
}